/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}


/* ----- ajout de .place-card pour le fit ---- */

.card img, .place-card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Modification générale au code faite par moi même */


button {
cursor: pointer;
}

.small-title {
    font-size: 18px;
    margin: 0;
}

/********* Header, divisé en deux blocs imbriquées, le logo "logo-header", puis les liens de nav "nav-header" *********/

.header-booki {
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: space-between; /* Espace entre le logo et les liens */
    flex-wrap: wrap; /* Garde cette règle si nécessaire pour les petits écrans */
}

.logo {
    padding: 30px 50px 30px 0px;
}
/*  dimension du logo prise en fonction du logo sur Figma */
.logo-header{
width: 61px;
height: 19px;
}

/***** nav header contient deux liens, donc deux éléments imbriqués  *****/


.nav-header {
    flex: 1; /* Prend tout l'espace disponible à droite du logo */
    display: flex;
    justify-content: flex-end; /* Aligne les éléments du ul à droite */
    margin: 0 auto; /* Centrage horizontal s'il y a un max-width */
    align-items: center;
}

.nav-header ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    align-items: center; /* Centre les éléments verticalement dans le nav */
}

.nav-header li {
    text-align: center;
}    

.nav-header a {
    display: block;
    text-decoration: none;
    color: black;
    border-top: 1px solid transparent;
    padding-top: 15px;
    padding-bottom: 48px;
}

.nav-header a:hover {
    color: #0065FC;
    border-top: 1px solid #0065FC;
}



/************* Section Formulaire **************/
.formulaire {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 35px;
}

h1 {
    font-size: 22px;
    margin: 0;
}

.titreh1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titreh1 p {
    margin: 0px;
}

/* partie recherche */
.recherche{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 0px;
}

.barre-recherche{
    display: flex;
    border-collapse: collapse;
}

.fa-location-dot{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #f2f2f2;
    padding: 15px 16px;
    border-radius: 15px 0px 0px 15px;
}
/* j'ai l'impression que sur figma ce n'est pas un input mais juste un <p> avec align center donc je laisse en input  */
.input-recherche{
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.bouton-recherche{
    color: white;
    border: none;
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    font-size: 16px;
    background-color: #0065FC;
}
/* /!\ hover à enlever à la fin de la création du site /!\ */
.bouton-recherche:hover{
    background-color:#0050c7;
}

.icone-recherche{
    display: none;
    border: none;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
}


/* partie filtres */

.titre-filtres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin: 0px;
    font-size: 18px;

}

.filtres{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    gap: 15px;
    
}

.boutons-filtres1, .boutons-filtres2{
display: flex;
gap: 15px;
}


.bouton-filtre {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    padding: 4px 19px;
    background-color: white;
    border: 3px solid #e2e2e2ef;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    font-size: 17px;
}

.bouton-filtre:hover{
    background-color: #DEEBFF;
}

.informations {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; 
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 1rem;
    flex-shrink: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
    justify-content: space-between;
    gap: 30px;
}

.hebergements img {

    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.heb-top .card, .heb-bot .card {
    width: 240px;
    height: 197px;
}

.heb-top, .heb-bot {

display: flex;
justify-content: space-between;
flex-wrap:wrap; 
}

.heb-txt {

    padding: 0px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.heb-top .card-title, .heb-bot .card-title {

    margin-top: 10px;
    margin-bottom: 4px;
}

.heb-rating {

    margin-bottom: 5px;
}

.heb-top .card-subtitle, .heb-bot .card-subtitle { 

    margin: 0;
}

.heb-top, .heb-bot {
    gap: 30px;

}
/*------ partie TOP  -------*/


/*-------- partie BOT ---------*/


/****** Populaires ***********/

.populaires {
    width: 32%;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
    flex-direction: row; 

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************ ACTIVITEES ****************/

.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 35px;
    gap: 30px;
}

.places {
    background-color: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites .place-txt {
    margin-left: 15px;
}

.places-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

}

.place-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    width: 297.5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


/******** FOOTER **********/

.footer-bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    gap: 230px;
    margin-top: 35px;
    
}

.f-content {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .bouton-filtre {
        font-size: 16px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }

    .populaires-cards .card {
        height: 146px;
        width: 100%;

    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

  
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0px;
    }
    
    /* -------- HEADER -------- */

    .header-booki {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .logo {
        padding: 30px;
    }
/* ENLEVER BACKGROUND */
    .nav-header {
        display: flex;
        background-color: #ffffff;
        width: 100%;
        justify-content: center;
      
    }
    /* ICI -------------------- */
    .nav-header ul {
        justify-content: space-between;
        margin-left: 0px;
        gap: 80px;
        padding-right: 40px;
    }
  
    .nav-header a {
        padding-top: 20px;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 15px;
    }

    .nav-header a:hover {
        border-top: none;
    }

    .header-booki a:hover{
        border-bottom: 1px solid #0065FC;
        width: 100%;

    }

/* --------RECHERCHE-FILTRES --------- */

    .formulaire {
        display: flex;
        flex-direction: column;
        padding: 0px 20px 0px 20px;
        flex-wrap: wrap;
    }

    .icone-recherche {
        display: inline-block;
        background-color: #0065FC;
        border-radius: 10px;
        padding: 15px 16px;
    }

    .bouton-recherche {
        display: none;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .boutons-filtres1, .boutons-filtres2 {
        gap: 10px;
        display: flex;
        justify-content: space-evenly;
    
    }

    .bouton-filtre {
        font-size: 14px;
    }

    /************ HEBERGEMENTS & POPULAIRES  **************/

    .hebergements-and-populaires {
        margin-top: 0;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        padding: 20px;
    }

    .hebergements-and-populaires .card {
        box-sizing: border-box;

    }

    /* POPULAIRES */

    .populaires {
        width: 100%;
        order: 1;
        gap: 15px;
        margin-top: 35px;
    }

    .hebergements {
        order: 2;
    }

    .place-card img{
        height: 141px;
    }

    .populaires-cards {
        display: block;
        gap: 15px;

    } 

    .populaires-cards .card {
        margin-bottom: 15px;
    }

    /* HEBERGEMENT */

    .hebergements {
        order: 2;
    }


    .heb-bot, .heb-top {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .hebergements {
        gap: 15px;
    }

    .hebergements .card {
        height: 207px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .hebergements img {
        width: 100%;

    }


    /****** ACTIVITE  ***********/

    .activites {
        padding: 20px;
    }

    .places {

        width: 100%;
    }

    .places-cards {
        gap: 15px;
    }

    .places img {
        width: 100%;
    }  

    /******** FOOTER ***********/

    .footer-bloc {
        gap: 50px;
        padding: 30px;
    }

    .f-content {
        padding: 0;
        margin: 0;
    }
    
    }


  
