/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #fc0000;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card, .heb-card {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}


/* ----- ajout de .place-card pour le fit ---- */

.card img, .place-card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Modification générale au code faite par moi même */


button {
cursor: pointer;
}

.small-title {
    font-size: 18px;
    margin: 0;
}

/********* Header, divisé en deux blocs imbriquées, le logo "logo-header", puis les liens de nav "nav-header" *********/
/***** nav header contient deux liens, donc deux éléments imbriqués  *****/

.header {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    border-right: none;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.logo-booki {
    padding: 30px 50px;
}

.nav {
    display: flex;
    padding: 0px 50px;
    gap: 68px;
    
}

.nav div{
    display:flex ;
    list-style: none;
    border-top: 1px solid transparent;
    margin: 0;
}

.nav button {
    display: block;
    text-decoration: none;
    color: black;
    border-top: 1px solid transparent;
    padding-top: 15px;
    padding-bottom: 47px;
    border: none;
    background-color: white;
    font-size: 16px;
}

.nav button:hover {
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

/************* Section Formulaire **************/
.formulaire {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 35px;
}

h1 {
    font-size: 22px;
    margin: 0;
}

.titreh1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titreh1 p {
    margin: 0px;
}

/* partie recherche */
.form {

    display: flex;
   flex-direction: row;
   padding: 0px;
   gap: 0px;
   
}

span.fa-solid.fa-location-dot {
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.fa-location-dot  { 
   display: flex;
   flex-direction: column;
   justify-self: center;
   background-color: #f2f2f2;
   width: 50px;
   height: 49px;
   border-radius: 15px 0px 0px 15px;
}

.input-recherche {
   border: none;
   padding: 0px;
   font-weight: bold;
   font-size: 18px;
   padding-left: 24px;
   width: 195px;
   height: 49px;
   box-sizing: border-box;

}

.form input:focus {
   outline: 2px solid #f2f2f2;

}

.bouton-recherche{
   color: white;
   border: none;
   padding: 15px 16px;
   border-radius: 0px 15px 15px 0px;
   font-size: 18px;
   background-color: #0065FC;
}
/* /!\ hover à enlever à la fin de la création du site /!\ */
.bouton-recherche:hover{
   background-color:#0050c7;
}

.icone-recherche{
   display: none;
   border: none;
   padding: 10px 20px;
   border-radius: 0px 10px 10px 0px;
   background-color: #0065FC;
}

span.fa-solid.fa-magnifying-glass {
   display: none;
}

.fa-magnifying-glass{
   display: none;
   border: none;
   padding: 10px 20px;
   border-radius: 0px 10px 10px 0px;
   background-color: #0065FC;
}


/* partie filtres */

.titre-filtres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin: 0px;
    font-size: 18px;

}

.filtres{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    gap: 15px;
    
}

.boutons-filtres1, .boutons-filtres2{
display: flex;
gap: 15px;
}


.bouton-filtre {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    padding: 4px 19px;
    background-color: white;
    border: 3px solid #e2e2e2ef;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    font-size: 17px;
}

.bouton-filtre:hover{
    background-color: #DEEBFF;
}

.informations {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; 
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 1rem;
    flex-shrink: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}


.heb-card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.div-heb {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
}

/* taille des card heb */
.div-heb a {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 28.73%;
}

.heb-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heb-content {
    padding-left: 15px;
}


.div-heb .card-title {

    margin-top: 10px;
    margin-bottom: 4px;
}

.heb-rating {

    margin-bottom: 5px;
}

.div-heb .card-subtitle { 

    margin: 0;
}

.card-subtitle {
    font-size: 14px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
    flex-direction: row; 

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************ ACTIVITEES ****************/

.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 35px;
    gap: 30px;
}

.places {
    background-color: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites .place-txt {
    margin-left: 15px;
}

.places-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

}

.place-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    width: 297.5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


/******** FOOTER **********/

.footer-bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    gap: 230px;
    margin-top: 35px;
    
}

.f-content {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


/* *** HEADER *** */


/* *** FORMULAIRES RECHERCHE ET FILTRES *** */
    .bouton-filtre {
        font-size: 16px;
    }

/* *** HEBERGEMENTS ET POPULAIRES *** */
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        gap: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;

    }

    .populaires-cards .card {
        height: 146px;
        width: 100%;

    }

    .populaires-cards a {
        width: 30%;
    }

/* *** ACTIVITES **** */

    .places {
        width: 193.5px;
}

    .activites .place-txt {
        margin-left: 15px;
}

    .places-cards {
        gap: 15px;

}

    .place-card img {
        height: 200px;
        width: 193.5px;

}



/* *** FOOTER *** */

    .footer-bloc {
        gap: 30px;
    
}

  
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0px;
    }
    
    /* -------- HEADER -------- */

    .header {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    
    .logo-booki {
        padding: 30px;
    }

    .logo {
        margin-bottom: -4px;
    }

    
    .nav {
        gap: 0;
        padding: 0;
    }
    
    .nav button {
        padding: 0; 
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 2px solid #f2f2f2;
        width: 50vw;
    }

    .nav .btn-heb, .nav .btn-act {
        display: flex;
        box-sizing: border-box;
        width: 50vw;
        justify-content: center;
    }
    
    .nav button:hover {
        border-top: none;
    }

    .nav .btn-heb:hover, .nav .btn-act:hover {
        border-bottom: 2px solid #0065FC;

    }


/* --------RECHERCHE-FILTRES --------- */

    .formulaire {
        display: flex;
        flex-direction: column;
        padding: 0px 20px 0px 20px;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    span.fa-solid.fa-magnifying-glass {
        display: flex;
    }
    
    .fa-magnifying-glass{
        
        background-color: #0065FC;
        border-radius: 10px;
        padding: 15px 16px;
    }
    
    .bouton-recherche {
        display: none;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .boutons-filtres1, .boutons-filtres2 {
        gap: 10px;
        display: flex;
        justify-content: space-evenly;
    
    }

    .bouton-filtre {
        font-size: 14px;
    }

    /************ HEBERGEMENTS & POPULAIRES  **************/

    .hebergements-and-populaires {
        margin-top: 0;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        padding: 20px;
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-and-populaires .card {
        box-sizing: border-box;

    }

    /* POPULAIRES */

    .populaires {
        width: 100%;
        order: 1;
        gap: 15px;
        margin-top: 35px;
    }

    .place-card img{
        height: 141px;
    }

    .populaires-cards {
        display: block;
        gap: 15px;

    } 

    .populaires-cards .card {
        margin-bottom: 15px;
    }

    /* HEBERGEMENT */

    .hebergements {
        order: 2;
        gap: 15px;
    }


    .div-heb {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .div-heb a {
        width: 100%;
    }


    .hebergements .heb-card {
        height: 207px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }


    /****** ACTIVITE  ***********/

    .activites {
        padding: 20px;
    }

    .places {

        width: 100%;
    }

    .places-cards {
        gap: 15px;
    }

    .places img {
        width: 100%;
    }  

    /******** FOOTER ***********/

    .footer-bloc {
        gap: 50px;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .f-content {
        padding: 0;
        margin: 0;
    }
    
    }


  
